.MuiAutocomplete-root {
  display: flex;
  align-items: center;
  width: 100%;
}

input::placeholder {
  color: #5A5A5A !important;
  font-family: "Lato – Solace", "Lato", sans-serif !important;
  opacity: 1 !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.MuiMenuItem-root {
  padding-left: 10px !important;
  margin: none !important;
}

.MuiMenuItem-gutters {
  margin: 0 !important;
  width: 100% !important;
  white-space: break-spaces !important;
}

.Mui-selected {
  background-color: #e9f0ee !important;
  outline: none !important;
}

.MuiAutocomplete-root .MuiOutlinedInput-root {
  display: flex;
  align-self: center;
  border-radius: 8px;
  width: 100%;
  max-width: 360px;
  padding: 10px 20px !important;
}

@media (min-width: 550px) {
  .MuiAutocomplete-root .MuiOutlinedInput-root {
    align-self: start;
  }
}

.Mui-selected *,
.MuiOutlinedInput-notchedOutline {
  outline: none !important;
}

.MuiInputAdornment-root div {
  margin-right: 7px;
}

.MuiOutlinedInput-root {
  background-color: #ffffff;
}

.MuiFormControl-root .MuiAutocomplete-inputRoot {
  font-family: "Lato – Solace", "Lato", sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border-radius: 12px 0px 0px 12px;
  background: #ffffff;
  height: 50px;
  border: 1px solid transparent;
  
}

.MuiFormControl-root .MuiAutocomplete-inputRoot fieldset {
  border: none !important;
}

.MuiFormLabel-filled {
  display: none !important;
}

.MuiAutocomplete-input {
  border-radius: 8px;
  padding: 0px !important;
  width: 100% !important;
}
